body {
	font-family: 'Montserrat', sans-serif;
}

.left {
	background-color: aliceblue;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.interface {
	text-align: center;
	padding: 25px;
}

a.button {
	display: inline-block;
	background-color: tomato;
	color: navy;
	padding: 20px 40px;
	border-radius: 12px;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover {
	color: darkmagenta;
}

.right {
	background-color: lightcyan;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.grass {
	background-color: #13824D;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
}

.yay {
	position: absolute;
	top: 45px;
	left: 150px;
	background: url("../pics/yay.png") no-repeat 0 0;
	width: 225px;
	height: 100px;
	display: none;
}

.yay.show {
	display: block;
}

.rocket {
	position: absolute;
	left: 50%;
	bottom: -15px;
	width: 143px;
	height: 272px;
	margin-left: -72px;
	background: url("../pics/rocket-state1.png") no-repeat 0 0;
	transition: bottom 10000ms;
}

/*rocket background image*/

body.body-state2 .rocket {
	background-image: url("../pics/rocket-state2.gif");
}

body.body-state3 .rocket,
body.body-state4 .rocket {
	background-image: url("../pics/rocket-state3.gif");

}

body.body-state5 .rocket {
	background-image: url("../pics/boom.png");
	width: 209px;
}

body.body-state1 .rocket {
	transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket {
	bottom: 1000px;
}

.state1,
.state2, 
.state3,
.state4,
.state5 {
	display: none;
}

body.body-state1 .state1 {display: block;}
body.body-state2 .state2 {display: block;}
body.body-state3 .state3 {display: block;}
body.body-state4 .state4 {display: block;}
body.body-state5 .state5 {display: block;}

a {

}

a.button {

}